body {
    margin-top: 50px;
}
h1 {
    font-family: 'Titan One', cursive;
    text-align: center;
}
footer {
    text-align: center;
    font-family: 'Alegreya SC', serif;
    position: fixed;
    bottom: 0;
    left: 50%;
}